flows/FLOW_02_APA_AddOpportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AddtoCollectio</name>
        <label>AddtoCollectio</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CollectionOppUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>OppUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppUpdate.Account_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Plan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoCollectio</targetReference>
        </connector>
    </assignments>
    <interviewLabel>FLOW_02_APA_AddOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_02_APA_AddOpportunity</label>
    <loops>
        <name>For_each_Opp</name>
        <label>For each Opp</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>get_opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_opp</name>
        <label>get opp</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Plan__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>CollectionOppUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_opp</targetReference>
        </connector>
        <object>Account_Plan_Associations__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionOppUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
