flows/FLOW_01_Lead_30DaysReminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Lead_notification</name>
        <label>Send Lead notification</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Lead update Reminder	</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GetLeadOwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendLeadEmail</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Lead_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>GetLeadOwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>koautar.moussaoui@springfive.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead update reminder</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Get_LeadOwnerId</name>
        <label>GetLeadOwnerId&amp;Email</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>GetLeadOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadOwnerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetLeadOwnerEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadOwnerEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendLeadEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Send_notification</name>
        <label>Send notification ?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Thirty_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lastmodifieddate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Email_Body</name>
        <dataType>String</dataType>
        <expression>&quot;The &quot;+ {!$Record.Lead_Number__c} + &quot; has not been updated for 30 days. Please check whether the Lead is still relevant and update it accordingly in Salesforce. &quot;+LEFT($Api.Partner_Server_URL_470, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_470))+{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Lastmodifieddate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.LastModifiedDate}</expression>
    </formulas>
    <formulas>
        <name>LeadOwnerEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Email}</expression>
    </formulas>
    <formulas>
        <name>LeadOwnerID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Id}</expression>
    </formulas>
    <formulas>
        <name>LeadURL</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://sk-fp--skdevpro.lightning.force.com/lightning/r/Lead/&quot; &amp; {!$Record.Id} &amp; &quot;/view&quot;,{!$Record.Lead_Number__c})</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;The &apos; &amp;  {!$Record.Lead_Number__c}  &amp; &apos; &apos; &amp;  &apos;has not been updated for 30 days. Please check whether the Lead is still relevant and update it accordingly in Salesforce.&apos;</expression>
    </formulas>
    <formulas>
        <name>Thirty_Days</name>
        <dataType>Date</dataType>
        <expression>Today() - 30</expression>
    </formulas>
    <interviewLabel>FLOW_01_Lead_30DaysReminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_01_Lead_30DaysReminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_notification</name>
        <label>Get notification</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LeadOwnerId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message_Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_notification</targetReference>
        </connector>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-02-16</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetLeadOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetLeadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
