flows/FLOW_03_HSE_25_90_Reminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_email_for_25_days</name>
        <label>Case email for 25 days</label>
        <locationX>505</locationX>
        <locationY>907</locationY>
        <actionName>Case.Case_Reminder_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>email_for_90_days</name>
        <label>email for 90 days</label>
        <locationX>776</locationX>
        <locationY>915</locationY>
        <actionName>Case.Case_Reminder_Email_for_90_days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_for_25_days</name>
        <label>Notification for 25 days</label>
        <locationX>505</locationX>
        <locationY>713</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Case_email_for_25_days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SalesforceNotificationfor25days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Case update reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_for_90_days</name>
        <label>Notification for 90 days</label>
        <locationX>776</locationX>
        <locationY>719</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>email_for_90_days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SalesforceNotificationfor90days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Case update reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Case_owner_Id_and_Email</name>
        <label>Assign Case owner Id and Email</label>
        <locationX>966</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id_to_Case_team_Members</name>
        <label>Assign User Id to Case team Members</label>
        <locationX>393</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Case_team_Members.MemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Case_team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_25_days_or_90_days</name>
        <label>check 25 days or 90 days</label>
        <locationX>638</locationX>
        <locationY>491</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Notification_for_25_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Durationfor25days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_for_25_days</targetReference>
            </connector>
            <label>Custom Notification for 25 days</label>
        </rules>
        <rules>
            <name>Custom_Notification_for_90_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>durationfor90days</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_for_90_days</targetReference>
            </connector>
            <label>Custom Notification for 90 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_duration</name>
        <label>Check duration</label>
        <locationX>515</locationX>
        <locationY>132</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>duration_for_25_or_90_days</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Durationfor25days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>durationfor90days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSE_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Team_Members</targetReference>
            </connector>
            <label>duration for 25 or 90 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>checking_case_team_member_exists</name>
        <label>checking case team member exists</label>
        <locationX>965</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_team_member_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Case_team_Members</targetReference>
            </connector>
            <label>case team member exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>Durationfor25days</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 25</expression>
    </formulas>
    <formulas>
        <name>durationfor90days</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <formulas>
        <name>emailcontentfor25days</name>
        <dataType>String</dataType>
        <expression>&quot;The status of the HSE Case&quot; +{!$Record.Case_ID__c}+ LEFT($Api.Partner_Server_URL_470, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_470))+{!$Record.Id}+&quot;is “Open” for 25 days. Please take the necessary steps to process or update the case in SalesForce.&quot;</expression>
    </formulas>
    <formulas>
        <name>emailcontentfor90days</name>
        <dataType>String</dataType>
        <expression>&quot;The status of the HSE Case&quot; +{!$Record.Case_ID__c}+ LEFT($Api.Partner_Server_URL_470, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_470))+{!$Record.Id}+&quot;is “Open” for 90 days. Please take the necessary steps to process or update the case in SalesForce.&quot;</expression>
    </formulas>
    <formulas>
        <name>LastModifiedDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.LastModifiedDate}</expression>
    </formulas>
    <formulas>
        <name>SalesforceNotificationfor25days</name>
        <dataType>String</dataType>
        <expression>&quot;The status of the HSE Case &quot;&amp;{!$Record.Case_ID__c}&amp; &quot; is “Open” for 25 days. Please take the necessary steps to process or update the case in Salesforce.&quot;</expression>
    </formulas>
    <formulas>
        <name>SalesforceNotificationfor90days</name>
        <dataType>String</dataType>
        <expression>&quot;The status of the HSE Case &quot;&amp; {!$Record.Case_ID__c} &amp;&quot; is “Open” for 90 days. Please check whether the case is still relevant and update it accordingly in Salesforce.&quot;</expression>
    </formulas>
    <interviewLabel>FLOW_03_HSE_25_90_Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_03_HSE_25_90_Reminder</label>
    <loops>
        <name>Iterate_Case_team_Members</name>
        <label>Iterate Case team Members</label>
        <locationX>982</locationX>
        <locationY>357</locationY>
        <collectionReference>CaseTeamMemberRec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_Id_to_Case_team_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Case_owner_Id_and_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Team_Members</name>
        <label>Get Case Team Members</label>
        <locationX>798</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checking_case_team_member_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CaseTeamMember</object>
        <outputReference>CaseTeamMemberRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MemberId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Notification</name>
        <label>Notification</label>
        <locationX>832</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_25_days_or_90_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message_Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>88</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Check_duration</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registration &amp; Assignment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partial answer sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wait for internal/external information</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-02-10</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseTeamMemberRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>testids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UseremailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Userrec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
