flows/FLOW_02_OpportunityClosure.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_7_Months</name>
        <label>Add 7 Months</label>
        <locationX>622</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_OppTeam_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GettingOpportunityLink</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmailTextvar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opportunity closure notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_email_for_5_months</name>
        <label>Add email for 5 months</label>
        <locationX>358</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_OppTeam_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GettingOppLink_5months</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserEmailTextvar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opportunity update reminder </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Email_Notification</name>
        <label>Add Email Notification</label>
        <locationX>314</locationX>
        <locationY>2316</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GettingOppLink_5months</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>UserEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opportunity update reminder </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AddEmail</name>
        <label>AddEmail</label>
        <locationX>50</locationX>
        <locationY>2436</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GettingOpportunityLink</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>UserEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opportunity closure notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Custom_Notification</name>
        <label>Custom Notification</label>
        <locationX>50</locationX>
        <locationY>2316</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>AddEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>getnotification7months</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity closure notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIdCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_Desktop</name>
        <label>Notification Desktop</label>
        <locationX>314</locationX>
        <locationY>2196</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Add_Email_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>getnotification5months</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity update reminder </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIdCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Owner_Id_and_Owner_email</name>
        <label>Add Owner Id and Owner email</label>
        <locationX>94</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>UserEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpporunityOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_to_Collection</name>
        <label>Add User to Collection</label>
        <locationX>622</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>UserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OppTeam_Record.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserEmailTextvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OppTeam_Record.User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_duration</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EmailTextfor5Months</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This opportunity has been inactive for 5 months : </stringValue>
        </value>
    </constants>
    <constants>
        <name>EmailTextfor7Months</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This opportunity has been inactive for 7 months : </stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_duration</name>
        <label>check duration</label>
        <locationX>622</locationX>
        <locationY>996</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>duration_for_5_months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duration5Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_email_for_5_months</targetReference>
            </connector>
            <label>duration for 5 months</label>
        </rules>
        <rules>
            <name>duration_for_7_months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duration7Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_7_Months</targetReference>
            </connector>
            <label>duration for 7 months</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active</name>
        <label>Is Active?</label>
        <locationX>886</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Loop_OppTeam_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OppTeam_Record.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Active_Or_Not</name>
        <label>Owner Active Or Not</label>
        <locationX>314</locationX>
        <locationY>1620</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Owner_Id_and_Owner_email</targetReference>
            </connector>
            <label>Owner Is Active</label>
        </rules>
        <rules>
            <name>Owner_is_Inactive_and_User_collection_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification</targetReference>
            </connector>
            <label>Owner is Inactive and User collection exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_check_duration_5_months_or_7_months</name>
        <label>To check duration 5 months or 7 months</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duration_exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Duration5Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Duration7Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OppTeam_Records</targetReference>
            </connector>
            <label>Duration exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>to_check_Opp_team_exists</name>
        <label>to check Opp team exists</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Owner_Active_Or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Team_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OppTeam_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_OppTeam_Record</targetReference>
            </connector>
            <label>Opp Team Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Check_Opportunity_Closure</name>
        <label>To Check Opportunity Closure</label>
        <locationX>314</locationX>
        <locationY>2076</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Duration_for_7_Months</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Duration7Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_to_Closed</targetReference>
            </connector>
            <label>Check Duration for 7 Months</label>
        </rules>
        <rules>
            <name>Check_Duration_for_5_Months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duration5Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Desktop</targetReference>
            </connector>
            <label>Check Duration for 5 Months</label>
        </rules>
    </decisions>
    <formulas>
        <name>Duration5Months</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 150</expression>
    </formulas>
    <formulas>
        <name>Duration7Months</name>
        <dataType>Date</dataType>
        <expression>TODAY()-210</expression>
    </formulas>
    <formulas>
        <name>getnotification5months</name>
        <dataType>String</dataType>
        <expression>&quot;The Opportunity &apos;&quot; +{!$Record.Name}+ &quot;&apos; has been inactive for 5 months, please click on the notification to see if it is still relevant.&quot;</expression>
    </formulas>
    <formulas>
        <name>getnotification7months</name>
        <dataType>String</dataType>
        <expression>&quot;The Opportunity &apos;&quot; +{!$Record.Name}+ &quot;&apos; has been inactive for 7 months, therefore it has been closed.&quot;</expression>
    </formulas>
    <formulas>
        <name>GettingOppLink_5months</name>
        <dataType>String</dataType>
        <expression>&quot;The opportunity &apos;&quot; + {!$Record.Name}  + &quot;&apos; has been inactive for 5 months, please click on the following link to see if it is still relevant: &quot; + LEFT($Api.Partner_Server_URL_470, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_470))+{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>GettingOpportunityLink</name>
        <dataType>String</dataType>
        <expression>&quot;The Opportunity &apos;&quot; + {!$Record.Name} + &quot;&apos; has been inactive for 7 months, therefore it has been closed. Please click on the following link to view the Opportunity: &quot; + LEFT($Api.Partner_Server_URL_470, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_470))+{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>LastModifiedDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.LastModifiedDate}</expression>
    </formulas>
    <formulas>
        <name>OpportunityAccountOwnerEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Owner.Email}</expression>
    </formulas>
    <formulas>
        <name>OpportunityAccountOwnerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Owner.Id}</expression>
    </formulas>
    <formulas>
        <name>OpportunityOwnerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>OpporunityOwner</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.Email}</expression>
    </formulas>
    <interviewLabel>FLOW_02_OpportunityClosure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_02_OpportunityClosure</label>
    <loops>
        <name>Loop_OppTeam_Record</name>
        <label>Loop OppTeam Record</label>
        <locationX>270</locationX>
        <locationY>636</locationY>
        <collectionReference>Get_OppTeam_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Owner_Active_Or_Not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OppTeam_Records</name>
        <label>Get OppTeam Records</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>to_check_Opp_team_exists</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notification</name>
        <label>Notification</label>
        <locationX>314</locationX>
        <locationY>1956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_Check_Opportunity_Closure</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message_Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_to_Closed</name>
        <label>Update Opportunity to Closed</label>
        <locationX>50</locationX>
        <locationY>2196</locationY>
        <connector>
            <targetReference>Custom_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Won_Lost_Reason__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Lost_Reason_Details__c</field>
            <value>
                <stringValue>This opportunity has been inactive for 7 months, therefore it has been closed. </stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>To_check_duration_5_months_or_7_months</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-02-16</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>inactiveusers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>This variable contains the record of the Opportunity Team</description>
        <name>OppTeamRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <description>To get the set of Email Id</description>
        <name>SetOfEmailId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set of User Id&apos;s</description>
        <name>SetofUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEmailTextvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
