flows/FLOW_03_OPP_CreateOppFromSR.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Email</name>
        <label>Add Email</label>
        <locationX>169</locationX>
        <locationY>442</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>UserEmaiId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opportunity creation from Sample Request</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DesktopNotification</name>
        <label>DesktopNotification</label>
        <locationX>331</locationX>
        <locationY>436</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Add_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity creation from Sample Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>MainOpportunityId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignAccountOwnerIdAndEmail</name>
        <label>AssignAccountOwnerIdAndEmail</label>
        <locationX>502</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>UserEmaiId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SampleRequestAccountOwnerEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SampleRequestAccountOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserEmaiId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RichardEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RichardId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DesktopNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_richard_email_and_Id</name>
        <label>Assigning richard email and Id</label>
        <locationX>657</locationX>
        <locationY>751</locationY>
        <assignmentItems>
            <assignToReference>UserEmaiId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RichardEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RichardId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DesktopNotification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_owner_is_active_or_not</name>
        <label>check owner is active or not</label>
        <locationX>665</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Assigning_richard_email_and_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountOwnerIdAndEmail</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} +365</expression>
    </formulas>
    <formulas>
        <name>Email_Body</name>
        <dataType>String</dataType>
        <expression>&quot;The Opportunity &apos;&quot; &amp; {!$Record.Main_Opportunity__r.Name} &amp; &quot;&apos; has been automatically created from a Sample Request. Please, click on the following link to complete the opportunity: &quot; +LEFT($Api.Partner_Server_URL_470, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_470))+{!MainOpportunityId}</expression>
    </formulas>
    <formulas>
        <name>GetSampleRequestLink</name>
        <dataType>String</dataType>
        <expression>{!EmailText}+{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Notification_Body</name>
        <dataType>String</dataType>
        <expression>&quot;The Opportunity &apos;&quot; &amp; {!$Record.Main_Opportunity__r.Name} &amp; &quot;&apos; has been automatically created from a Sample Request. Please, click on the notification to complete the opportunity.&quot;</expression>
    </formulas>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name} &amp; &apos;-&apos;  &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>RichardEmail</name>
        <dataType>String</dataType>
        <expression>{!$Label.User_EmailId}</expression>
    </formulas>
    <formulas>
        <name>RichardId</name>
        <dataType>String</dataType>
        <expression>{!$Label.User_Id}</expression>
    </formulas>
    <formulas>
        <name>SampleRequestAccountOwnerEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Owner.Email}</expression>
    </formulas>
    <formulas>
        <name>SampleRequestAccountOwnerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Owner.Id}</expression>
    </formulas>
    <interviewLabel>FLOW_03_OPP_CreateOppFromSR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_03_OPP_CreateOppFromSR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OpportunitySample_Request</name>
        <label>Create OpportunitySample Request</label>
        <locationX>951</locationX>
        <locationY>436</locationY>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Main_Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Sample_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creating_Opportunity</name>
        <label>Creating Opportunity</label>
        <locationX>595</locationX>
        <locationY>153</locationY>
        <assignRecordIdToReference>MainOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Sample_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_BUs__c</field>
            <value>
                <elementReference>$Record.BU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Creation / Definition</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>793</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_owner_is_active_or_not</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message_Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sample_Request</name>
        <label>Update Sample Request</label>
        <locationX>914</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Create_OpportunitySample_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>CreateOpportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Opportunity__c</field>
            <value>
                <elementReference>MainOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>64</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Creating_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreateOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Sample__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OppName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Account__r.Name} -&amp;nbsp;{!$Record.Id}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>An opportunity has been automatically created from a Sample Request, please complete the opportunity : </stringValue>
        </value>
    </variables>
    <variables>
        <name>MainOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEmaiId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
