flows/FLOW_01_SR_15DaysReminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Email</name>
        <label>Add Email</label>
        <locationX>173</locationX>
        <locationY>473</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>GetSREmailID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sample Request reminder</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Notification</name>
        <label>Add Notification</label>
        <locationX>380</locationX>
        <locationY>473</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Add_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Sample Request reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GetSRUserID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Get_SR_ID</name>
        <label>Get SR ID</label>
        <locationX>633</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>GetSRUserID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SampleRequestUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetSREmailID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SampleRequestOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EmailText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The sample request is still open and hasn&apos;t been modified for 15 days : </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Owner_Active</name>
        <label>Is Owner Active</label>
        <locationX>792</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SR_ID</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_check_Duration</name>
        <label>To check Duration</label>
        <locationX>956</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Duration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duration15Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification</targetReference>
            </connector>
            <label>Check Duration</label>
        </rules>
    </decisions>
    <formulas>
        <name>Duration15Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-15</expression>
    </formulas>
    <formulas>
        <name>Email_Body</name>
        <dataType>String</dataType>
        <expression>&quot;The sample request &apos;&quot; &amp; {!$Record.Name} &amp; &quot;&apos; is still open and hasn&apos;t been updated for 15 days. Please, click on the following link to update the Sample Request: &quot; +LEFT($Api.Partner_Server_URL_470, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_470))+{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>GetSampleRequestLink</name>
        <dataType>String</dataType>
        <expression>{!EmailText}+LEFT($Api.Partner_Server_URL_470, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_470))+{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>LastModifiedDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.LastModifiedDate}</expression>
    </formulas>
    <formulas>
        <name>Notification_Body</name>
        <dataType>String</dataType>
        <expression>&quot;The sample request &apos;&quot; &amp; {!$Record.Name} &amp; &quot;&apos; is still open and hasn&apos;t been updated for 15 days. Please, click on the notification to update the Sample Request.&quot;</expression>
    </formulas>
    <formulas>
        <name>SampleRequestOwnerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Email}</expression>
    </formulas>
    <formulas>
        <name>SampleRequestUserId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Id}</expression>
    </formulas>
    <interviewLabel>FLOW_01_SR_15DaysReminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_01_SR_15DaysReminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>983</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Owner_Active</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message_Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>656</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_check_Duration</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Main_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>87</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Sample__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-01-31</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetSREmailID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetSRUserID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
