flows/FLOW_01_ACC_AddUsersAccountTeam.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>EmailText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>You have been added to a Opportunity team, Please check the Opportunity :</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_metadata_records_exists</name>
        <label>check metadata records exists</label>
        <locationX>807</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>metadata_rec_exits</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>StoreGetTeamRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>looping_Metadata_Records</targetReference>
            </connector>
            <label>metadata rec exits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_User</name>
        <label>Checking User</label>
        <locationX>1312</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>looping_Metadata_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Map_User_To_Team</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 10 AND 11) OR (1 AND 2 AND 12 AND 4 AND 10 AND 11) OR(5 AND 2 AND 3 AND 4 ) OR (6 AND 2 AND 3 AND 4 )  OR (7 AND 2 AND 3 AND 4 )  OR (7 AND 2 AND 12 AND 4 )  OR (8 AND 2 AND 3 AND 4 )  OR (9 AND 2 AND 3 AND 4 ) OR (9 AND 2 AND 4 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>looping_Metadata_Records.MasterLabel</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Yat_Kan_Yu_UserLabel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_Metadata_Records.BU_Application1__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.BU_application_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_Metadata_Records.Bu_Application2__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.BU_Application_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_Metadata_Records.Region__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_Metadata_Records.MasterLabel</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Guillaume_Jacque_UserLabel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_Metadata_Records.MasterLabel</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Bruno_Guillemat_Userlabel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_Metadata_Records.MasterLabel</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Fanny_Deplace_Userlabel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_Metadata_Records.MasterLabel</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Oc_ane_Lamarzelle_UserLabel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_Metadata_Records.MasterLabel</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Lolita_Hauguel_UserLabel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bangladesh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BU_Application_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Team</targetReference>
            </connector>
            <label>Map User To Team</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetOpportunityLink</name>
        <dataType>String</dataType>
        <expression>{!EmailText}+LEFT($Api.Partner_Server_URL_470, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_470))+{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>FLOW_01_ACC_AddUsersAccountTeam {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_01_ACC_AddUsersAccountTeam</label>
    <loops>
        <name>looping_Metadata_Records</name>
        <label>looping Metadata Records</label>
        <locationX>1008</locationX>
        <locationY>118</locationY>
        <collectionReference>StoreGetTeamRec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_User</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Team</name>
        <label>Create Account Team</label>
        <locationX>1148</locationX>
        <locationY>559</locationY>
        <connector>
            <targetReference>looping_Metadata_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>looping_Metadata_Records.UserId__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Team_Metadata</name>
        <label>Get Team Metadata</label>
        <locationX>673</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_metadata_records_exists</targetReference>
        </connector>
        <object>UserIntoTeam__mdt</object>
        <outputReference>StoreGetTeamRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId__c</queriedFields>
        <queriedFields>BU_Application1__c</queriedFields>
        <queriedFields>Bu_Application2__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>UserEmailId__c</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <start>
        <locationX>239</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Get_Team_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_BUs__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Polyolefins</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StoreGetTeamRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UserIntoTeam__mdt</objectType>
    </variables>
    <variables>
        <name>testrecUserObj</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserEmailId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
