flows/FLOW_01_APA_PreventAPDuplicate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AddToColection</name>
        <label>AddToColection</label>
        <locationX>270</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>APACollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAPA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_APA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>402</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>CurrentAPA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_APA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_APA.Account_Plan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAP.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_APA.Account_Plan__r.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Account_plan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Account_plan</name>
        <label>Active Account plan ?</label>
        <locationX>402</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>For_each_APA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAP.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToColection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_active_account_plans</name>
        <label>Existing active account plans ?</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tech_PreventAPACreation_c</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>FLOW_01_ APA_PreventAPDuplicate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_01_ APA_PreventAPDuplicate</label>
    <loops>
        <name>For_each_APA</name>
        <label>For each APA</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_all_APA_related_to_the_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existing_active_account_plans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_APA_related_to_the_account</name>
        <label>Get all APA related to the account</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_APA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_APA_account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Plan_Associations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_APA_account</name>
        <label>Get APA account</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_APA_related_to_the_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tech_PreventAPACreation_c</name>
        <label>Update Tech_PreventAPACreation__c</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <inputAssignments>
            <field>Tech_PreventAPACreation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_APA_account</targetReference>
        </connector>
        <object>Account_Plan_Associations__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>APACollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan_Associations__c</objectType>
    </variables>
    <variables>
        <name>APCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_Account_Plan__c</objectType>
    </variables>
    <variables>
        <name>CurrentAP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_Account_Plan__c</objectType>
    </variables>
    <variables>
        <name>CurrentAPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan_Associations__c</objectType>
    </variables>
</Flow>
